.account {
margin-top: 4rem;
width: 100%;
}
.account form {
    display: flex;
    flex-direction: column;
width: 80%;
    margin: auto;
    font-size: 1rem;
   
  
    
}

.profile-img{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.profile-col{
    display: flex;
    flex-direction: column;
    width: 50%;
    
   
}
.profile-row{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 2rem 0;
    width: 100%;
    
}
.profile-title{
    font-weight: bolder;

    padding-right: 5rem;
}
.pri-input{
    padding: 0.3rem 0.5rem;
    margin: 0.3rem 0;

    width: 100%;
   
    font-size: 1rem;
}

.account-btn{
margin-bottom: 3rem;
border-radius: 0;
}
.profile-col p{
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.662);
}

