.form-container {
  display: flex;

  width: 100%;
  height: vh;
}

.formleft-col {
  width: 50%;
  height: 100%;
}
.formleft-col img {
  position: fixed;
  width: 50%;
  object-fit: cover;
  bottom: -7s0px;
}

.formright-col {
  width: 50%;
  padding: 0 2rem;
  height: 100%;
}
.text {
  font-size: 18px;
}
.underline {
  text-decoration: underline;
  color: blue;
}
form {
  height: 100%;
  width: 100%;
}

.button.primary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem 2rem;
  background: #000000;
  border-radius: 10px;
  color: #fff;

  font-size: 30 px;
}

button:hover {
  background-color: coral;
  border-radius: 5px;
}
.input-containers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px;

  border: none;
  outline: none;

  /* right: 12px; */
}

.label {
  font-weight: bold;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  width: 80%;
}

.input {
  border: none;
  border-bottom: 1px solid #000;

  padding: 0.2rem 0.5rem;

  font-size: 1.2rem;

  width: 80%;
}

.errormessage {
  width: 80%;
  background: #f83636a3;
  color: white;
  font-size: 1.2rem;
  position: relative;
  bottom: 0.4rem;
  padding: 0.3rem;
}
@media screen and (max-width: 728px) {
  .form-container {
    padding: 1rem;
  }
  .formleft-col {
    display: none;
  }
  .formright-col {
    width: 100%;

    padding: 0 1rem;
  }
  .input-containers {
    width: 100%;
  }
}
